<h1>Ma Todo List</h1>

<h2>Une nouvelle tâche ?</h2>
<mat-form-field>
  <mat-label>Titre</mat-label>
  <input matInput (keyup.enter)="addTask($event.srcElement)" />
</mat-form-field>

<h2 *ngIf="listUncompleted.length > 0">A faire</h2>
<mat-selection-list>
  <mat-list-option
    #item
    *ngFor="let task of listUncompleted"
    [value]="task.id"
    [selected]="task.completed"
    (click)="toggleComplete(item)"
    [ngClass]="{ completed: task.completed }"
  >
    <div class="todo_list--task_container">
      <a
        mat-mini-fab
        color="warn"
        (click)="$event.stopPropagation()"
        [routerLink]="['/task-list/task/', task.id]"
      >
        <mat-icon>edit</mat-icon>
      </a>
      <span class="todo_list--task_title"> {{ task.title }} </span>
    </div>
  </mat-list-option>
</mat-selection-list>

<h2 *ngIf="listCompleted.length > 0">Tâche faites</h2>
<mat-selection-list>
  <mat-list-option
    #item
    *ngFor="let task of listCompleted"
    [value]="task.id"
    [selected]="task.completed"
    (click)="toggleComplete(item)"
    [ngClass]="{ completed: task.completed }"
  >
    {{ task.title }}
  </mat-list-option>
</mat-selection-list>
