<h1>Mettre à jour la todo</h1>
<form
  *ngIf="(selectTodo$ | async); else NoElement"
  [formGroup]="updateTodoForm"
  (ngSubmit)="updateTodo(updateTodoForm.value)"
>
  <mat-form-field style="display: block">
    <mat-label>Titre</mat-label>
    <input
      matInput
      formControlName="title"
      placeholder="Que voulez vous faire ?"
      required
    />
  </mat-form-field>

  <mat-checkbox formControlName="completed">Est-elle terminé ?</mat-checkbox>

  <button
    style="margin:0 20px"
    mat-raised-button
    color="warn"
    type="submit"
  >
    Mettre à jour
  </button>
</form>

<ng-template #NoElement>Pas de todo sélectionner </ng-template>
